<section id="hero" class="lp-hero flex center middle flex-c">
    <h1 class="lp-userName"><span>satyam singh</span> </h1>
    <p class="lp-userTag text-xs-center">learner // designer // thinker</p>
</section>
<section id="about" class="lp-about mt-3" style="min-height:200vh;">
    <div class="container">
        <h2 class="lp-sectionTitle text-xs-center pt-2 pb-1">
            About Myself
        </h2>
        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1">
                <div class="lp-aboutImgBlock text-xs-center">
                    {{!--<div class="lp-imageContainer inline-flex center middle"><i class="fa fa-flag lp-aboutImg" aria-hidden="true"></i></div>
                    <div class="lp-imageContainer inline-flex center middle"><i class="fa fa-flag lp-aboutImg" aria-hidden="true"></i></div>--}}
                    <div class="lp-imageContainer inline-flex center middle"><img src="assets/about/photo.jpg" class="img-fluid lp-aboutImg" alt="User Image"></div>
                    {{!--<div class="lp-imageContainer inline-flex center middle"><i class="fa fa-flag lp-aboutImg" aria-hidden="true"></i></div>
                    <div class="lp-imageContainer inline-flex center middle"><i class="fa fa-flag lp-aboutImg" aria-hidden="true"></i></div>--}}
                </div>
                <div class="card card-block lp-noBorder mt-2">
                    <p class="card-text">From a small but historically important town named KUSHINAGAR (Cremation place of lord BUDDHA). Currently
                        living in Greater Noida pursuing B.Tech in INFORMATION TECHNOLOGY . Most time of a day I sit in front
                        of system and design code play fps game and watch TV series and movie. Want to be a good problem
                        solver who have a lot of opportunity to learn and work. Interested in WEB DEVELOPMENT,UI DESIGN,SOFTWARE
                        DEVELOPMENT and can easily work under supervision of expert in these area. If you think I am fit
                        for your work please contact. If not so then give me well wishes. If you work hard life will be easy
                        else there is no other way
                    </p>
                </div>
                 <div class="lp-aboutImgBlock text-xs-center">
                    <div class="lp-imageContainer inline-flex center middle"><i class="fa fa-flag lp-aboutImg" aria-hidden="true"></i></div>
                    <div class="lp-imageContainer inline-flex center middle"><i class="fa fa-flag lp-aboutImg" aria-hidden="true"></i></div>
                    {{!--<div class="lp-imageContainer inline-flex center middle"><img src="assets/about/photo.jpg" class="img-fluid lp-aboutImg" alt="User Image"></div>--}}
                    <div class="lp-imageContainer inline-flex center middle"><i class="fa fa-flag lp-aboutImg" aria-hidden="true"></i></div>
                    <div class="lp-imageContainer inline-flex center middle"><i class="fa fa-flag lp-aboutImg" aria-hidden="true"></i></div>
                </div>

            </div>

        </div>
    </div>

</section>