<header class="lp-header pos-f-t">
    <div class="container-fluid">
        <nav class="navbar lp-navbar">
            <div class="inline-flex center">
                <a class="navbar-brand pr-1" href="#hero">
                    <img src="/assets/brand/logo.svg" width="40" height="40" class="d-inline-block align-top lp-logo" alt="">
                </a>
                <a  href="#hero" class="navbar-brand">
                    <span class="navbar-text center">SomeThing</span>
                </a>
            </div>
            <div class="nav navbar-nav inline-flex center float-xs-right h-100 hidden-md-down">
                <a class="nav-item nav-link " href="#about">About me<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link " href="#skills">Skills</a>
                <a class="nav-item nav-link " href="#project">Projects</a>
                <a class="nav-item nav-link " href="#contact">Contact</a>
            </div>
        </nav>
    </div>
</header>