<html>

<head>
    <title>Your Title</title>
    <link rel="stylesheet" href="complied/css/main.css">
</head>
<body>
    {{> header/header}}
    {{{body}}}
    {{> footer/footer}}
    <script src="complied/js/main.js"></script>
</body>
</html>